body{
    background-color: black;
    color: white;
    padding-bottom: 200px;
    overflow-x: hidden;
}

nav{
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: yellow;
}
h1{
    position: relative;
    top: 0vh;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 60px;
}
h1:hover{
    color: aqua;
}
h2{
    font-family: "Turret Road", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
h2:hover{
    color: aqua;
}
p{
     position: relative;
    font-family: "Turret Road", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    width: 80vw;
    margin-left: 10vw;
    top: 40px;
    line-height: 25px;
    text-align: center;
    line-height: 5vh;
}
p:hover{
    color: aqua;
    background-color: black;
}
.n1{
    animation: shine1 2s infinite;
}
.n2{
    animation: shine2 2s infinite;
}
.n3{
    animation: shine3 2s infinite;
}
.n4{
    animation: shine4 2s infinite;
}

@keyframes shine1{
    0%{
        color: aqua;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes shine2{
    0%{
        opacity: 0.5;
    }
    25%{
        color: aqua;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@keyframes shine3{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        color: aqua;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes shine4{
    0%{
        opacity: 0.5;
    }
    25%{
        opacity: 0;
    }
    50%{
       opacity: 0.5;
    }
    100% {
        color: aqua;
    }
}

@media (max-width: 600px) {
    p{
        font-size: 20px;
    }
}