body{
    background-color: black;
    color: white;
    padding-bottom: 200px;
    overflow-x: hidden;
}

nav{
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: yellow;
}
h1{
    position: relative;
    top: 0vh;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 60px;
}
h1:hover{
    color: aqua;
}
h2{
    font-family: "Turret Road", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
h2:hover{
    color: aqua;
}
p{
     position: relative;
    font-family: "Turret Road", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 80vw;
    margin-left: 10vw;
    top: 40px;
    line-height: 25px;
    text-align: center;
    line-height: 5vh;
}
p:hover{
    color: aqua;
    background-color: black;
}
p a{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
p a:hover{
    color: yellow;
}
pre{
    position: relative;
    font-size: 60px;
    left: 25vw;
}
pre a{
    color: white;
    text-decoration: none;
}
pre a:hover{
    color: yellow;
}

.Stephen{
    position: relative;
    left: 5vw;
    text-align: left;
    width: 35vw;
    background-color: aqua;
    color: black;
    padding: 2vw;
    animation: shine1 2s infinite;
}
.me{
    position: relative;
    left: 50vw;
    text-align: left;
    width: 35vw;
}
.contents{
    position: relative;
    text-align: center;
}
.quote{
    font-family: "Turret Road", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
    text-align: center;
}


@keyframes shine1{
    0% {
        opacity: 1;
    }
    25%{
        background-color: rgb(0, 255, 255, 0.5);
        color: white;
    }
    50%{
        color: white;
        background-color: black;
    }
    75%{
         background-color: rgb(0, 255, 255, 0.5);
    }
    100% {
        opacity: 1;
        color: white;
    }
}

@media (max-width: 600px) {
    .Stephen{
        position: relative;
        width: 50vw;
    }
    .me{
        position: relative;
        width: 30vw;
    }
    pre{
        font-size: 23px;
        left: 20vw;
        padding-bottom: 20px;
    }
}