body{
    background-color: black;
    color: white;
    padding-bottom: 200px;
}

nav{
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: yellow;
}
h1{
    position: relative;
    top: 0vh;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 60px;
}
h1:hover{
    color: aqua;
}
h2{
    font-family: "Turret Road", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
h2:hover{
    color: aqua;
}
p{
     position: relative;
    font-family: "Turret Road", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 80vw;
    margin-left: 10vw;
    top: 40px;
    line-height: 25px;
    text-align: center;
    line-height: 5vh;
}
p:hover{
    color: aqua;
    background-color: black;
}
p a{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
p a:hover{
    color: yellow;
}
.conversation{
    position: relative;
    top: 30vh;
}

@media (max-width: 600px) {
    .conversation{
        top:10vh;
    }
}