body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding-bottom: 10vh;
}
nav{
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: yellow;
}
h1{
    position: relative;
    top: 0vh;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 60px;
}
h1:hover{
    color: aqua;
}
h2{
    font-family: "Turret Road", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
h2:hover{
    color: aqua;
}
.detail{
    font-size: 45px;
    font-weight: 200;
    padding-top: 4vh;
    color: aqua;
}
p{
    position: relative;
    font-family: "Turret Road", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 80vw;
    margin-left: 10vw;
    top: 40px;
    line-height: 25px;
    text-align: center;
}
p:hover{
    color: aqua;
    background-color: black;
}
p a{
    color: white;
    font-size: 35px;
}
p a:hover{
    color: yellow;
}
.detail{
    animation: shine1 2s infinite;
}
@keyframes shine1{
    0% {
        opacity: 0;
    }
    25%{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        opacity: 0.5;
    }
    50%{
        color: white;
        background-color: black;
        opacity: 1;
    }
    75%{
         background-color: rgba(0, 0, 0, 0.5);
         color: white;
         opacity: 0.5;
    }
    100% {
        opacity: 0;
        color: white;
    }
}